/*
Theme Name: Polleria Rocky
Author: Javier Oscar
Version: 1.0.0
Description: Polleria Rocky

*/

:root{
	--primary_color: #f1cf00;
	--secondary_color: #007e40;
	--bg-bg-color: #232222;
	--bg-bg-secondary-color: #262424;

	--title_font: 'Roboto', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: var(--bg_body_color);
  	line-height: 1.4;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img{
	max-width: 100%
}

p{
	margin-bottom: 15px;
}




/*los iconos solo funcionan con internet*/
@font-face {
  font-family: 'icomoon';
  src:  url('https://i.icomoon.io/public/temp/13af197503/UntitledProject/icomoon.eot?mldq4e');
  src:  url('https://i.icomoon.io/public/temp/13af197503/UntitledProject/icomoon.eot?mldq4e#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/temp/13af197503/UntitledProject/icomoon.ttf?mldq4e') format('truetype'),
    url('https://i.icomoon.io/public/temp/13af197503/UntitledProject/icomoon.woff?mldq4e') format('woff'),
    url('https://i.icomoon.io/public/temp/13af197503/UntitledProject/icomoon.svg?mldq4e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*aqui llamamos a los iconos*/
.icon-ctrl:before {
  content: "\ea50";
  font-size: 3rem;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}

.frontpage_all{
	position: relative;

}
.frontpage{
	background: rgba(0, 0, 0, 1);
	width: 33.33%;
	display: inline-block;
	overflow: hidden;
	position: relative;
	transition: all .5s;
}
.frontpage:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background: #007E3E;
	opacity: 0;
	top: 0px;
	left: 0px;
	transition: all .5s;
}
.frontpage:hover .frontpage_content {
	top: 50%;
	transform: translateY(-50%);
}

.frontpage:hover:before{
	opacity: .7;
}

.frontpage img{
	width: 100%;
	height: auto;
}
.frontpage_content{
	height: 25%;
	transition: all .5s;
	padding-top: 1rem;
	padding-bottom: 2rem;
	width: 100%;
	position: absolute;
	background: rgba(0, 0, 0, .8);
	top: 87%;
	text-align: center;
	color: #fff;
}

.frontpage h3{
	font-weight: bold;
	font-size: 1.1rem;
}



.localesdos{
	width: 31.33%;
	float: left;
	margin-left: 2%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin-top: 2rem;
	padding-bottom: 2rem;
}

.localesdos  h3{
	font-weight: bold;
}






.icon-ctrl{
	padding: 7px 0px;
}

.outside{
	position: relative;
}
.controles-slider span{
	z-index: 99;
	position: absolute;
	cursor: pointer;
	color: #fff;
	width: 50px;
	height: 47px;
	transition: all .5s;
	background: rgba(0, 0, 0, .4);
}
.controles-slider span:hover{
	background: rgba(0, 0, 0, 1);
}
.controles-slider span:first-child{
	top: 50%;
	left: 10%;
	transform: rotate(-90deg);
}
.controles-slider span:last-child{
	top: 50%;
	right: 10%;
	transform: rotate(90deg);
}

.cycle-slide{
	width: 100%;
}



.banner-info a{
	text-decoration: none;
	color: #fff;
	padding: 10px 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 1.5rem;
	transition: all .5s;
	border: 2px solid #fff;
	animation-name: info;
	animation-duration: 2s;
}

.banner-info a:hover{
	transform: scale(1.2);
}

@keyframes info{
	0%{
		transform: translateX(50px);
	}
	100%{
		transform: translateX(0);
	}
}



}
/*************CONTAINER***************/
.container{
	max-width: 1020px;
	width: 100%;
	margin: 0 auto 0 auto;
}

.container-form{
	max-width: 1020px;
	width: 100%;
	margin: 0 auto 0 auto;
}

.textarea{
	width: 100%;

}
.textarea textarea{
	width: 100%;
	margin-top: 2rem;
	border-radius: 20px;
	padding-left: 1rem;
	box-sizing: border-box;
	padding-top: 1rem;

}

.enviar input{
	cursor: pointer;
	width: 100% !important;
	margin-left: 0 !important;
	background: var(--secondary_color) !important;
	color: #fff !important;
	font-weight: bold;
	font-size: 1.1rem;
}


.wpcf7-form{
}

.wpcf7-form br{
	display: none;
}
.ml span input{
	margin-left: 0;
}
.wpcf7-form input{
	border-radius: 20px;
	margin-left: 30px;
	border: 1px solid #ccc;
	background: #fff;
	padding-left: 1rem;
	box-sizing: border-box;
	line-height: 2rem;
	float: left;
	width: calc((100% / 3) - 30px);
}
.wpcf7-form input::placeholder, .textarea textarea::placeholder{
	color: var(--secondary_color) !important;
}









.title{
	font-family: var(--title_font);
	color: var(--primary_color);
	font-size: 30px;
	margin-bottom: 15px;
}





.banner{
	/*z-index: -1;*/
	margin-bottom: 30px;
	/*height: 200px;*/
	overflow: hidden;
}

	.banner_image{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
@media screen and (min-width: 1025px){
	.banner{
		/*height: 340px;*/
	}
}



.promociones img{
	height: auto;
	width: 32.33%;
}





.socials{
	display: flex;
	margin: 15px 0px;
}
	.socials_link{
		font-size: 35px;
		text-decoration: none;
		color: var(--secondary_color);
		display: block;
		padding: 5px;
	}
		.socials_link:hover{
			color: var(--primary_color);
		}





.header{
	background-color: #ffffff;
	margin-bottom: 15px;
}
.header_arriba{
	text-align: right;
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--bg-bg-color);
}
.header_medio{
	background: var(--bg-bg-color);
	height: 3rem;
	line-height: 3rem;
}
.header_medio img{
	margin-top: -37px;
}
.header_medio p{
	color: #fff;
	letter-spacing: 5px;
	font-weight: bold;
}
.header_medio .container{
	display: grid;
	grid-template-columns: auto 1fr auto;
}


.header img{
	width: 150px;
}


.header_burger{
	border: none;
	background-color: var(--primary_color);
	color: #fff;
	cursor: pointer;
	padding: 10px;
	font-size: 20px;
	position: absolute;
	right: 10px;
	top: 25px;
}

.sociales_arriba{
	display: flex;
	justify-content: flex-end;
	border-left: 1px solid #fff;
	padding-left: 1rem;
}

.sociales_arriba li a{
	color: var(--bg-bg-color);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: var(--primary_color);
	font-size: 12px;
	text-decoration: none;
	padding: .4rem;
	margin-right: 1rem;

}
.sociales_arriba li a:hover{
	color: #fff;
}
@media screen and (min-width: 768px){

	.header{
		display: block;
		justify-content: space-between;
	}
	.header_burger{
		display: none;
	}
}


.menu{
	/*background-color: var(--primary_color);*/
	height: 100%;
	display: none;
}

	.menu_visible{
		display: block;
	}
	.menu_link{
		font-weight: bold;
		color: #232222;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 10px 20px;
		text-decoration: none;
	}
	.menu_link:hover, .menu_link_active{
		color: var(--secondary_color);
	}
	
	/*******preguntar al profesor*******/
	.menu_link_dos{
		background: red;
		width: 300px;
		height: 200px;
	}

	@media screen and ( min-width: 768px){
		.menu{
			display: flex;
			justify-content: flex-end;
		}
	}

@media screen and ( min-width: 768px){
	.main-and-sidebar{
		display: flex;
	}
}





.main{
	padding: 15px;
}
	@media screen and ( min-width: 768px){

		.main{
			width: 75%;
		}
		.main--full{
			width: auto;
		}
	}




.sidebar{
	padding: 15px;
}

	.sidebar_title{
		font-family: 'Pacifico',cursive;
		color: var(--secondary_color);
		font-size: 20px;
		font-weight: bold;
		padding: 10px 0px;
		border-bottom: solid 2px var(--secondary_color);
	}
	.sidebar_list{
		list-style: square;
		padding: 30px 25px;
	}
	.sidebar_widgets{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.sidebar_link{
		color: #000;
	}

	@media screen and (min-width: 768px){
		.sidebar{
			border-left: solid 2px var(--primary_color);
			width: 25%;
			}
	}


.soup{
	padding: 15px;
	background-color: #ffffff;
	margin-bottom: 15px;
}

	.soup_img{
	}
	.soup_text{
	}
	.soup_link{
		background-color: var(--primary_color);
		border: solid 1px transparent;
		color: #ffffff;
		text-decoration: none;
		padding: 10px 20px;
		display: inline-block;
	}
		.soup_link:hover{
			color: var(--primary_color);
			background-color: #fff;
			border: solid 1px var(--primary_color);
		}
	.soup_title{
		font-family: var(--title_font);
		font-size: 30px;
		font-weight: bold;
		border-bottom: solid 3px var(--primary_color);
		margin-bottom: 10px;
		color: var(--primary_color);
	}






.souplist{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

 @media screen and (min-width: 540px){
 	.souplist_item{
		width: calc(50% - 20px)
	}
	
	
 }
 @media screen and (min-width: 1025px){
 	.souplist_item{
		width: calc(33.33% - 20px)
	}

 }



.soup_photo{
		width: 100%;
	}





.footer{
	background-color: var(--secondary_color);
	padding: 0px;
	color: #ffffff;
	text-align: center;
	margin-top: auto;
}

.footer_menu{
	background: var(--bg-bg-secondary-color);
}
.footer_menu ul li a{
	font-size: .8rem;
	font-weight: normal;
	color: #fff;
}
.footer_menu ul li a:hover{
	color: #fff;
}
.footer__copy{
	margin-bottom: 0;
}


.form{

}
	.form_label{
		display: block;
		color: var(--primary_color);
		font-weight: bold;
		margin-top: 15px;
	}
	.form_field{
		width: 100%;
		padding: 10px;
		font-family: inherit;
		font-size: 14px;
		border: solid 1px var(--primary_color);
		margin-bottom: 10px;
	}
		.form_field--message{
			height: 200px;
		}
	.form_button{
			background-color: var(--primary_color);
			color: #ffffff;
			border: none;
			padding: 10px 30px;
			font-size: 20px;
			cursor: pointer;
			display: block;
			margin-left: auto;
			margin-top: 5px;
	}


.gallery{
	display: flex;
}

	.gallery_item{
		display: flex;
	}

	.gallery_link{
		background-color: var(--primary_color);
		color: #ffffff;
		padding: 10px;
		text-decoration: none;
		display: block;
	}
	.gallery_link:hover{
		background-color: var(--secondary_color);
	}


/*****************************
=============================
		PAGINATION
============================
============================
============================
*********************************/

.screen-reader-text{
	display: none;
}

.pagination .page-numbers{
	background-color: var(--primary_color);
	color: #fff;
	text-decoration: none;
	padding: .5rem;
}
.pagination .page-numbers.current{
	background: orange;
}


/*****************************
=============================
		FIN PAGINATION
============================
============================
============================
*********************************/



div.thumbpost{
	display: block;
}
div.thumbpost img{
	width: 300px;
}


footer{
	width: 100%;
}